//footer
footer         
        div(class='container')
            div(class='row')
                div(class='col-3' id='section-1')
                    img(src='../img/jfglogo.png')
                    p Copyright &copy Arkadiusz Chiluta 2018
                div(class='col-2' id='section-2')  
                    ul
                        li
                            a(href='../about.html') About Us
                        li
                            a(href='../contact.html') Contact
                        li  
                            a(href='#') Men's
                        li
                            a(href='#') Women`s 
                div(class='col-2' id='section-3')
                    ul
                        li
                            img(src='../img/facebookicon.png')
                            a(href='#') Facebook
                        li
                            img(src='../img/instagramicon.png')
                            a(href='#') Instagram
                        li
                            img(src='../img/twittericon.png')
                            a(href='#') Twitter
                div(class='col-3' id='section-4')
                    div(id='newsletterdiv')
                        p Subscribe to our newsletter
                        input(type='text' placeholder='Enter your Email' id='emailbox')
                        input(type='submit' id='okbutton' value='OK')
                div(class='col-2' id='section-5')
                    div(id='infodiv') 
                        p Just For Gym
                        p Poznań ul Aleje 33 
                        p T. 525345234   
                        p E. JFG@gmail.com
