//footer
footer
    div(class='row')
        div(class='col-1')
        div(class='col-2')
        div(class='col-3')
        div(class='col-4')
        div(class='col-5')
        div(class='col-6')
        div(class='col-7')
        div(class='col-8')
        div(class='col-9')
        div(class='col-10')
        div(class='col-11')
        div(class='col-12')
        
    script(src='js/index.js')