// header
header
    div(class='content-container')
        div(class='left-nav')
            img(src='../img/nav-logo.png')
        div(class='mid-nav')            
            ul               
               li 
                 a(href='../index.html') Home
               li     
                 a(href='../about.html') About Us
               li
                 a(href='../products.html') Products
               li    
                 a(href='../customers.html') Customers
               li
                 a(href='../contact.html') Contact
        div(class='right-nav')        
            img(src='../img/my-cart.png')
            ul
                li
                    a(href='#') My cart
                li
                    a(href='#') Log in            
            img(src='../img/log-in.png')