// header
header
    ul
       li 
         a(href='../home.html') Home
       li     
         a(href='../about-us.html') About Us
       li
         a(href='../products.html') Products
       li    
         a(href='../Customers.html') Customers
       li
         a(href='../Contact.html') Contact
