// header
header
    div(class='container')
        div(class='row')
            div(class='col-1')
                img(src='../img/nav-logo.png')
            div(class='col-6')            
                ul               
                   li 
                     a(href='../index.html') Home
                   li     
                     a(href='../about.html') About Us
                   li
                     a(href='../products.html') Products
                   li    
                     a(href='../customers.html') Customers
                   li
                     a(href='../contact.html') Contact          
                
            div(class='col-5')                 
                ul       
                    li
                        img(src='../img/my-cart.png')
                    li
                        a(href='#') My cart
                    li
                        a(href='#' id='login') Log in
                    li
                        img(src='../img/log-in.png')
           
                
            