// header
header
    div(class='container')
        div(class='row')
            div(class='col-1')
                img(src='../img/nav-logo.png')
            div(class='col')            
                ul               
                   li 
                     a(href='../index.html') Home
                   li     
                     a(href='../about.html') About Us
                   li
                     a(href='../products.html') Products
                   li    
                     a(href='../customers.html') Customers
                   li
                     a(href='../contact.html') Contact
            div(class='col-2')        
                img(src='../img/my-cart.png')
            div(class='col-3')
                ul
                    li
                        a(href='#') My cart
                    li
                        a(href='#') Log in
            div(class='col-4')
                img(src='../img/log-in.png')