div(id='overlay')
    div(id='userbox')   
        input(type='button' value='X' id='exitbutton')
        input(type='text' placeholder='Login' id='loginbox')
        input(type='password' placeholder='Password' id='passwordbox')
        input(type='submit' id='submit' value='Log in')
        a(href='../forgotpassword.html') Forgot password?