div(id='overlay')
    div(id='userbox')   
        input(type='button' value='X' id='exitbutton')
        img(id='userboxlogo' src='../img/userboxlogo.png')
        p JUST FOR GYM
        input(type='text' placeholder='Login' id='loginbox')
        input(type='password' placeholder='Password' id='passwordbox')
        input(type='submit' id='submit' value='Log In')
        a(href='../forgotpassword.html') Forgot your password?