<!DOCTYPE html>
<html>

<head>
    <title>JustForGym</title>
     <link rel="shortcut icon" href="http://www.iconj.com/ico/x/p/xpw8aw9uwo.ico" type="image/x-icon" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>

<body>
    <!-- header-->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-1"><img src="../img/nav-logo.png"></div>
                <div class="col-6">
                    <ul>
                        <li> <a href="index">Home</a></li>
                        <li> <a href="about">About Us</a></li>
                        <li><a href="products">Products</a></li>
                        <li> <a href="customers">Customers</a></li>
                        <li><a href="contact">Contact          </a></li>
                    </ul>
                </div>
                <div class="col-5">
                    <ul>
                        <li><img src="img/my-cart-white.png"></li>
                        <li><a href="#">My cart</a></li>
                        <li><a href="login" id="login-header">Log in </a></li>
                        <li><img src="img/log-in-white.png"></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <main id="main-customers">
        <div class="container">
            <ul class="slideshow-container">
                <li class="mySlides">
                    <div id="slide-1"></div>
                    <div class="numbertext">1 / 3</div><img src="../img/customer1.jpg">
                    <p class="opinion">"It was great to cooperate with them i <br /> would definetely give them five stars."</p>
                    <p class="signature">&#8722 "Mitchum Hoening"</p>
                    <div class="text">What thay say about us ?</div>
                </li>
                <li class="mySlides">
                    <div id="slide-2"> </div>
                    <div class="numbertext">2 / 3 </div><img src="../img/Customer3.png">
                    <p class="opinion">"Really great quality and cheap prices of their clothes, <br /> worth of trying them out."</p>
                    <p class="signature">&#8722 "Nina Dobrev"</p>
                    <div class="text">What thay say about us ?</div>
                </li>
                <li class="mySlides">
                    <div id="slide-3"> </div>
                    <div class="numbertext">3 / 3</div><img src="../img/Customer2.jpg">
                    <p class="opinion">
                        "From the moment you open the packaging it is <br /> complete quality! I loved my first order so much that <br /> the next day I made a second one." </p>
                    <p class="signature special3">&#8722 "Adam Kovalski"</p>
                    <div class="text">What thay say about us ?</div>
                </li><a onclick="plusSlides(-1)" class="prev">&#9001;</a><a onclick="plusSlides(1)" class="next">&#9002;       </a>
                <div class="dot-div"><span onclick="currentSlide(1)" class="dot"></span><span onclick="currentSlide(2)" class="dot"></span><span onclick="currentSlide(3)" class="dot"></span></div>
            </ul>
        </div>
    </main>
    <!--footer-->
    <footer>
        <div class="container">
            <div class="row">
                <div id="section-1" class="col-3"><img src="../img/jfglogo.png">
                    <p>Copyright &copy Arkadiusz Chiluta 2018</p>
                </div>
                <div id="section-2" class="col-2">
                    <ul>
                        <li><a href="about">About Us</a></li>
                        <li><a href="contact">Contact</a></li>
                        <li> <a href="#">Men's</a></li>
                        <li><a href="#">Women`s </a></li>
                    </ul>
                </div>
                <div id="section-3" class="col-2">
                    <ul>
                        <li><img src="../img/facebookicon.png"><a href="#">Facebook</a></li>
                        <li><img src="../img/instagramicon.png"><a href="#">Instagram</a></li>
                        <li><img src="../img/twittericon.png"><a href="#">Twitter</a></li>
                    </ul>
                </div>
                <div id="section-4" class="col-3">
                    <div id="newsletterdiv">
                        <p>Subscribe to our newsletter</p><input type="text" placeholder="Enter your Email" id="emailbox"><input type="submit" id="okbutton" value="OK"></div>
                </div>
                <div id="section-5" class="col-2">
                    <div id="infodiv">
                        <p>Just For Gym</p>
                        <p>Poznań ul Aleje 33 </p>
                        <p>T. 525345234 </p>
                        <p>E. JFG@gmail.com</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="js/customer.js"></script>
</body>

</html>
