<!DOCTYPE html>
<html>

<head>
    <title>JustForGym</title>    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>

<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-1"><img src="../img/nav-logo.png"></div>
                <div class="col-6">
                    <ul>
                        <li> <a href="index">Home</a></li>
                        <li> <a href="about">About Us</a></li>
                        <li><a href="products">Products</a></li>
                        <li> <a href="customers">Customers</a></li>
                        <li><a href="contact">Contact          </a></li>
                    </ul>
                </div>
                <div class="col-5">
                    <ul>
                        <li><img src="../img/my-cart-white.png"></li>
                        <li><a href="#">My cart</a></li>
                        <li><a href="login" id="login-header">Log in </a></li>
                        <li><a href="#" id="logout-header">Log out </a></li>
                        <li><img src="../img/log-in-white.png"></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <main id="main-login">
        <div id="overlay">
            <div id="userbox"> <a href="index" id="exitbutton">X</a><img id="userboxlogo" src="../img/userboxlogo.png">
                <p>JUST FOR GYM</p>
                <form id="loginform"><input type="text" placeholder="Login" id="login-box"><input type="password" placeholder="Password" id="password-box"><input type="submit" id="submit-login" value="Log In"></form><a href="create">Create an account</a></div>
        </div>
    </main>
</body>
<script src="js/index.js">


</script>

</html>
