doctype html
html
 html
  include ./includes/head.jade
  body    
    include ./includes/overlay.jade
    include ./includes/header.jade 
    main(id='main-id')
        div(id='img-section')
            img(src='../img/wall-golds-gym.jpg')            
        div(id='about-section')
            div(class='container')  
                h1 About Us
                p Jusforgym is a fitness apparel & accessories brand, manufacturer and online retailer based in the Poland, supported by over 0.5 million highly engaged social media followers and customers in 131 countries. Created in 2012 by teenager Aradiusz Chiluta, Dominik Braszak and a group of his high-school friends. Justforgym has grown from a screen printing operation in a garage, into one of the fastest growing and most recognisable brands in fitness. This growth comes from a devotion to producing innovative, effective performance wear and an ever-expanding social presence, and above all a commitment to the Gymshark vision: Before there is an action, there is an idea. We exist to create the tools that help people unlock their full, incredible potential and put their ideas into action. Be all that you imagined you could be. Be a visionary.
               
        div(id='team-section')
            div(class='container')
                h1 Team
                div(class='row')
                    div(class='col-6')    
                        div(class='team-preview')
                                img(src='../img/CEO.jpg')
                                h4 Arkadiusz Chiluta
                                p CEO of JustForGym company 
                    div(class='col-6')
                        div(class='team-preview')
                                img(src='../img/Old-men.jpg')
                                h4 Dominik Braszak 
                                p Someone very not important
    include ./includes/footer.jade 