doctype html
html
  include ./includes/head.jade
  body    
    include ./includes/header.jade 
    main(id='main-customers')        
        div(class='container')            
             ul(class="slideshow-container")
                li(class="mySlides")                  
                    div(id="slide-1")
                    div(class="numbertext") 1 / 3
                    img(src='../img/customer1.jpg')
                    p(class='opinion')
                      |"It was great to cooperate with them i <br />
                      |would definetely give them five stars."
                    p(class='signature') &#8722 "Mitchum Hoening"
                    div(class="text") What thay say about us ?
               

                li(class="mySlides")               
                    div(id="slide-2") 
                    div(class="numbertext") 2 / 3    
                    img(src='../img/Customer3.png')
                    p(class='opinion')
                      |"Really great quality and cheap prices of their clothes, <br />
                      | worth of trying them out."
                    p(class='signature') &#8722 "Nina Dobrev"
                    div(class="text") What thay say about us ?
                

                li(class="mySlides") 
                    div(id='slide-3')  
                    div(class="numbertext") 3 / 3
                    img(src='../img/Customer2.jpg')
                    p(class='opinion')                     
                      |"From the moment you open the packaging it is <br /> 
                      | complete quality! I loved my first order so much that <br /> 
                      |the next day I made a second one."                   
                    p(class='signature special3') &#8722 "Adam Kovalski"
                    div(class="text") What thay say about us ?
               

                a(class="prev" onclick='plusSlides(-1)' ) &#9001;
                a(class="next" onclick='plusSlides(1)') &#9002;       
                

                div(class='dot-div')
                  span(class="dot" onclick="currentSlide(1)")
                  span(class="dot" onclick="currentSlide(2)")
                  span(class="dot" onclick="currentSlide(3)")
                
    include ./includes/footer.jade
    script(src='js/customer.js')