doctype html
html
  include ./includes/head.jade
  body
    include ./includes/overlay.jade
    include ./includes/header.jade    
    // main
    main
        
        h1 Customers
    include ./includes/footer.jade