//- index.jade

doctype html
html
  include ./includes/head.jade
  body
    include ./includes/header.jade
    // main
    main
        h1 Hello World
        a(href='../subpage.html') Click me!
    include ./includes/footer.jade 