//- index.jade

doctype html
html
  include ./includes/head.jade
  body
    include ./includes/header.jade
    // main
    main
     div(class='group')
         h1 The choice is yours.
         div(id='check-button') 
          a(href='#') Check now
    include ./includes/footer.jade 