//- index.jade

doctype html
html
  include ./includes/head.jade
  body
    include ./includes/overlay.jade
    
   
    
    main(id='main-id')          
        include ./includes/header.jade
        
        h1 The choice is yours.
        div(id='check-button') 
            a(href='#') Check now
        include ./includes/footer.jade 