php
    include_once 'includes/dbh.inc.php';


doctype html
html
  include ./includes/head.jade
  body    
    include ./includes/header.jade
    main(id='main-index')         
        div(class='content')         
            img(src='../img/ONYX.jpg')
            h1 JustForGym
            h2 
               |Embrace the darknes, <br />
               |check out our new colection
            a(href="../products.html") Check now
          
                              
    include ./includes/footer.jade 
    script(src='js/index.js')