doctype html
html
    include ./includes/head.jade
    body
        include ./includes/header.jade
        main(id='main-mycart')
            div(class='container')
                p My cart
        include ./includes/footer.jade                                  
    script(src='js/mycart.js')           