@import 'variables';

* {
    font-family: $font-stack;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 200vh;
    main {
        height: 200vh;
        background-color: $background-color;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        h1 {
            font-weight: bold;
            font-size: 96px;
            margin-bottom: 20px;
            color: $primary-color;
        }
        a {
            font-size: 48px;
            margin-bottom: 20px;
            color: $primary-color;
            text-decoration: none;
        }

    }
}

body {
    header {
        background-color: #202020;
        padding: 10px;
        position: fixed;
        top: 0px;
        width: 100%;
        ul {
            li:last-child {
                border-right: none;
            }
            li {
                float: left;
                display: inline-block;
                border-right: 1px solid #bbb;
                a {
                    padding: 5px;
                    text-decoration: none;
                    color: $primary-color;
                }
            }
        }
    }
}
