@import 'variables';

* {
    font-family: $font-stack;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 200vh;
    .content-container {
        display: flex;
        max-width: 1180px;
        margin: 0 auto;
    }
    main {        
        background-color: $background-color;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        .group {
            
           margin: 380px auto;
           height: 1080px;           

            #check-button {
                border: solid 2px;
                border-radius: 40px;
                color: #ffffff;
                text-align: center;
                padding: 13px 45px;
                a {
                    font-size: 36px;
                }
            }
            h1 {
                font-size: 75px;
                margin-bottom: 36px;
                color: $primary-color;
            }
            a {
                font-size: 48px;
                margin-bottom: 20px;
                color: $primary-color;
                text-decoration: none;
            }
        }
    }



    header {
        background-color: $background-color;
        padding: 10px;
        position: fixed;
        top: 0px;
        width: 100%;

        .left-nav {
            width: 60%;
            img {
                position: fixed;
            }
        }
        .right-nav {
            width: 40%;

        }
        ul {
            display: flex;
            justify-content: center;
            li {

                float: left;
                display: inline-block;
                border-right: 1px solid $nav-color;
                &:last-child {
                    border-right: none;
                }
                a {
                    font-size: 20px;
                    padding: 8px;
                    text-decoration: none;
                    color: $nav-color;
                }
            }



        }

    }

}
