@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto/Roboto-Regular.ttf');
}

$primary-color: #272828;
$background-color: #ffffff;
$nav-color: black;
$nav-background-color:#cccccc;
$hover-color:#ffffff;

$font-stack: Roboto, sans-serif;

