@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto/Roboto-Regular.ttf');
}

$primary-color: #ffffff;
$background-color: #272828;
$nav-color: #8c8d8d;


$font-stack: Roboto, sans-serif;

