<?php
    include_once 'includes/dbh.inc.php';
?>
<!DOCTYPE html>
<html>

<head>
    <title>JustForGym</title>
    <link rel="icon" type="image/png" href="../img/favicon.ico" sizes="16x16">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>

<body>
    <main id="main-create">
        <div id="create-holder">
            <div id="registery-box">
                <div class="row">
                    <div class="col-7"><img src="../img/create-left.jpg" id="create-left-img">
                        <p>Create and wear<br />your passion</p><a href="../about.html" id="learn-more-button">LEARN MORE</a>
                        <p id="need-help">Need help?</p><a href="../contact.html" id="FAQ">FAQ</a></div>
                    <div class="col-5"> <a href="../index.html" id="exit-create-button">X    </a>
                        <p>Create an account</p>
                        <form id="registryform"><label>Choose a username:</label><input type="text" placeholder="Type your username here" id="login-reg-box" class="reg-form"><label>Email address:</label><input type="text" placeholder="Type your email address here" id="email-reg-box" class="reg-form"><label>Choose a password:</label><input type="password" placeholder="Type your password here" id="password-reg-box" class="reg-form"><input type="submit" id="submit-reg" value="SIGN UP"><a href="../login.html">I already have an account</a></form>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
<script src="js/create.js">


</script>

</html>
